{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
    <div class="pt-5">
        <a class="text-sm mx-5 mt-5 font-semibold bg-[#e13d3d] px-8 py-2 rounded-full text-white" href="{% url 'chooseMode' %}">Retour</a>
        <div class="flex flex-col items-center">
            <p>Name: {{ character.name }}</p>
            <p>HP: {{ character.hp }}/{{ maxhp }}</p>
            <p>Défense: {{ defense }}</p>
            <p>Chance de critique: {{ crit_rate }}%</p>
            <p>Dêgats critique: {{ crit_dmg }}%</p>
            {% if character.typeCharacter == "Barbarian" or character.typeCharacter == "Paladin" %}
                <p>Rage: {{ character.rage }}</p>
            {% else %}
                <p>Mana: {{ character.mana }}</p>
            {% endif %}
            <br>
        </div>
        <div class="flex justify-around">
            <div>
                <p class="text-center">Casque</p>
                <p>{{ character.helmet.name }}</p>
            </div>
            <div>
                <p class="text-center">Plastron</p>
                <p>{{ character.chestplate.name }}</p>
            </div>
            <div>
                <p class="text-center">Leggings</p>
                <p>{{ character.leggings.name }}</p>
            </div>
            <div>
                <p class="text-center">Boots</p>
                <p>{{ character.boots.name }}</p>
            </div>
            <div>
                <p class="text-center">Weapon</p>
                <p>{{ character.weapon.name }}</p>
            </div>
            {% if character.typeCharacter == "Paladin" %}
                <div>
                    <p class="text-center">Shield</p>
                    <p>{{ character.shield.name }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
